/*   HEADER   */

header {
  margin: 0;
  padding: 3vh 4% 2vh 4%;
  background-color: black;
}

.nav-header {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: white;
}

.buscador {
  margin-left: 2%;
}

.form-inline{
  flex-wrap: nowrap;
}

.nav-header ul {
  list-style-type: none;
}

.nav-header li {
  display: inline;
}

.nav-header h1 {
  font-size: 3vh;
}

.nav-header a, .nav-header button,.nav-header input {
  color: white;
  font-size: 2vh;
}

.btn-outline-success {
  border-color: white;
}

.nav-header .otros {
  flex-wrap: nowrap;
  right: 3%;
}

/*   FOOTER   */

footer {
  padding: 3vh 4% 2vh 4%;
  background-color: black;
  width: 100%;
  bottom: 1px;
  right: 1px;
}

footer a {
  color: white;
  padding:  9vh 3% 9vh 3%;
  font-size: 2vh;
}

/*   LOGIN   */

.login {
  margin: 0;
  padding: 0;
  background: url(../img/ecommerce.jpg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.caja_login {
  width: 320px;
  height: 420px;
  background: #000;
  color:#fff;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -65%);
  box-sizing: border-box;
  padding: 70px 30px;
  margin-bottom: 20vh;
}

.caja_login .avatar {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.caja_login h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.caja_login label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.caja_login input {
  width: 100%;
  margin-bottom: 20px;
}

.caja_login input[type="email"],
.caja_login input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  color: #fff;
  outline: none;
  height: 40px;
  font-size: 16px;
}

.caja_login input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  background: #fff2;
  font-size: 18px;
  border-radius: 20px;
}

.recordarme label, .recordarme #gridCheck {
  display: block;
  position: relative;
  left: 120px;
  font-size: 15px;
  color: darkgrey;
  top: -10px;
}

.recordarme #gridCheck{
  top: -28px;
}

.caja_login a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
  position: relative;
  top: -40px;
}

.caja_login a:hover {
  color: #fff;
}

/*   CONTATO   */

.contacto {
  background-image: url(../img/contacto.jpg);
  margin: 0;
  padding: 0;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

.caja_contacto {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 7px;
  font-family: monospace;
}

.caja_contacto h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

.caja_contacto input, .caja_contacto textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

.caja_contacto textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

.caja_contacto #boton {
  background: #31384A;
  color: #fff;
  padding: 20px;
}

.caja_contacto #boton:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.5);
}

/*   CARRITO   */

.carro {
  margin: 0;
  padding: 0;
  background: url(../img/ecommerce.jpg) no-repeat center top;
  background-size: 100vw 100vh;
  font-family: sans-serif;
}

.caja_carro {
  width: 75vw;
  height: 75vh;
  margin: auto;
  background: rgba(114, 244,230, 0.4);
  padding: 10px 20px;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-65%, 8%);
  box-sizing: border-box;
  border-radius: 7px;
  margin-bottom: 12vh;
}

.caja_carro li {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border-bottom: 1px solid grey;
  text-decoration: none;
}

.caja_carro h2{
  color: #000;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

@media (max-width:480px){
  .caja_contacto {
    width: 100%;
  }
}


/*   REGISTRO    */


.Registro {
  margin: 0;
}

.Registro .form-registro {
  padding: 6vh 10% 9vh 10%;
}

.Registro .form-registro h1 {
  margin-bottom: 6vh;
}

.Registro .form-registro form{
  padding: 20px;
  border: black 1px solid;
  border-radius: 30px;
  background-color: rgb(232, 232, 232);
}

.Registro .container {
  padding: 5px;
  margin: 0;
}

/*   HOME   */

.home {
  margin: 0;
}

.home section {
  padding: 8vh 6% 2vh 6%;
  background-color: rgb(241, 239, 239);
}

.home img{
  height: 15vh;
}

.col-6 {
  border: black 1px solid;
  border-radius: 10px;
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.home section .row h2 {
  font-size: 3.5vh;
}

.home section .row h3 {
  font-size: 2.5vh;
}

.home section .row p {
  text-align: center;
  font-size: 1.5vh;
}

.paginas {
  margin-top: 3vh;
}

/*   PREGUNTAS FRECUENTES   */

body #index {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#index section {
  background-color: rgb(241, 239, 239);
}

#index section .titulo {
  margin-top: 2vh;
}

#index section .preguntas {
  margin-top: 4vh;
  padding: 20px;
  font-size: 2.5vh;
  padding: 0;
}

/*   PERFIL   */


body #index article{
  padding: inherit;
  margin-left: 20px;
  float: inherit;
  font-size: 20px;
}

#index section {
  padding: 3vh 10% 7vh 10%;
}

.usuario img{
  display: block;
  width: 400px;
  height:400px;
  position: relative;
  border-radius: 50%;
}

.usuario1 article{
  font-size: 20px;
  background-color: rgba(0, 209, 255, 0.65);
  text-align: center;
}

/* PREGUNTAS Y PERFIL*/

article .titulo{
  font-size: 28px;
}
.boton-salir label {
  display: block;
  position: absolute;
  right:  180px;
  top: 25px;
  font-size: 20px;
}
.boton-salir button {
  display: block;
  position: absolute;
  right:  50px;
  top: 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 1px solid #0016b0;
}

/*   ???   */

.padre{
     box-sizing: border-box;
     max-width: 460px;
     padding-left: 15px;
     width: 766px;
     overflow: hidden;
}
p strong{
  padding-left: 20px;
  font-size: 25px;
}
li div .numero{
  float: left;
  margin-top: 25px;
  margin-bottom: 25px;
  margin: 8px;
  padding: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  background-color: black;
  border-radius: 50%;
}

article .respuesta{
  font-size: 15px;
}

/*  BIENVENIDA   */

.bienvenido {
  background: url(../img/atardecer-en-la-albufera-comparativa-de-filtros-inversos-sergio-arias.jpg) no-repeat center top;
  background-size: 100vw 100vh;

}

.bienvenido main h1 {
  margin: 31vh 33% 33vh 31%;
  font-size: 7vh;
  color: white;
}

/*   RESTABLECIMIENTO DE CONTRASEÑA  */

.rest {
  margin: 0;
  padding: 0;
  background: url(../img/ecommerce.jpg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.caja_rest {
  width: 320px;
  height: 420px;
  background: #000;
  color:#fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.caja_rest .avatar {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.caja_rest h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.caja_rest h2 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 16px;
}

.caja_rest label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.caja_rest input {
  width: 100%;
  margin-bottom: 20px;
}

.caja_rest input[type="email"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  color: #fff;
  outline: none;
  height: 40px;
  font-size: 16px;
}

.caja_rest input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  background: #fff2;
  font-size: 18px;
  border-radius: 20px;
}
.caja_rest a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
  position: relative;
  top: -40px;
}

.caja_rest a:hover {
  color: #fff;
}
