/*   HEADER   */

header {
  margin: 0;
  padding: 3vh 4% 2vh 4%;
  background-color: rgba(238, 255, 6, 1)
}

.nav-header {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.home {
  float: left;
}

.buscador {
  float: left;
}

.otros {
  float: left;
}

.nav-header ul {
  list-style-type: none;
}

.nav-header li {
  display: inline;
}

.nav-header a, button, input {
  color: black;
  font-size: 2vh;
}

/*   FOOTER   */

footer {
  padding: 3vh 4% 2vh 4%;
  background-color: rgb(246, 255, 154)
}

footer ul {
  list-style-type: none;
}

footer li {
  display: inline;
}

footer a {
  color: black;
  padding:  9vh 3% 9vh 3%;
}

/*   LOGIN   */

.login {
  margin: 0;
  padding: 0;
  background: url(../img/ecommerce.jpg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}
.caja_login {
  width: 320px;
  height: 420px;
  background: #000;
  color:#fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
.caja_login .avatar {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);

}
.caja_login h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;

}
.caja_login label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;

}
.caja_login input {
  width: 100%;
  margin-bottom: 20px;

}
.caja_login input[type="text"],
.caja_login input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  color: #fff;
  outline: none;
  height: 40px;
  font-size: 16px;
}
.caja_login input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  background: #fff2;
  font-size: 18px;
  border-radius: 20px;

}
.caja_login a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;

}
.caja_login a:hover {
  color: #fff;

}

/*   CONTATO   */


.contacto {
  background-image: url(../img/contacto.jpg);
  margin: 0;
  padding: 0;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  font-family: monospace;

}
.caja_contacto {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 7px;
}
.caja_contacto h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}
.caja_contacto input, .caja_contacto textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}
.caja_contacto textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
.caja_contacto #boton {
  background: #31384A;
  color: #fff;
  padding: 20px;
}
.caja_contacto #boton:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.5);
}
/*   Carrito   */
.carro {
  margin: 0;
  padding: 0;
  background: url(../img/ecommerce.jpg) no-repeat center top;
  background-size: 100vw 100vh;
  font-family: sans-serif;

}
.caja_carro {
  width: 75vw;
  height: 75vh;
  margin: auto;
  background: rgba(114, 244,230, 0.4);
  padding: 10px 20px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 7px;
}

.caja_carro li {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border-bottom: 1px solid grey;
  text-decoration: none;
}
.caja_carro h2{
  color: #000;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}
@media (max-width:480px){
  .caja_contacto {
    width: 100%;
  }
}


/*   REGISTRO    */


.Registro {
  margin: 0;
}

.Registro .form-registro {
  padding: 9vh 10% 9vh 10%;
}

.Registro .form-registro form{
  padding: 20px;
  border: black 1px solid;
  border-radius: 30px;
  background-color: rgb(232, 232, 232);
}

/*   HOME   */

.home {
  margin: 0;
}

.home section {
  padding: 9vh 7% 9vh 7%;
  background-color: rgb(241, 239, 239);
}

.home img{
  height: 15vh;
}

.col-6 {
  border: black 1px solid;
  border-radius: 10px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home section .row p {
  text-align: center;
}
